<html>
    <% include header %>
    <body>
            <% info.forEach(function(item) { %>
                <% var output = item.webinfo.aboutme; %>
                <% var showVals =Object.values(output); %> 
                <% var showKeys =Object.keys(output); %>
                <% for (var i = 0; i < showKeys.length; i++) { %>
                   
                    <div style="margin: 17px;"><%= showKeys[i] %> : 
                    <% if(i===1 ){ %>
                        <% output.Languages.forEach(function(language){ %>
                             <%=  language %>  ,
                         <% }); %> </div> 
                    <% } else { %>
                         <%=  showVals[i] %></div>
                    <% } %>
                 <% }; %>          
                 
             <% }); %>    

             <div>
                <a href="/api/aboutme">get about me page api</a></div>
    </body>
    <% include footer %>
</html>