<html>
    <head> 
            <% include navbar %>
    </head>
    <body>
            <% for (var i = 0; i < info.length; i++) { %>
                <% var output = info[i]; %>
                <div><%= output %></div>
             <%}%>    
    </body>
</html>