<html>


    <body>
            <% webinfo.forEach(function(item) { %>
                <% var output = item.webinfo %>
                <% var showVals =Object.values(output); %> 
                <% var showKeys =Object.keys(output); %>
               <%= output %>  
             <% }); %>    
           
        <%= webinfo %>
    </body>
</html>