<html>


    <body>
            <% webinfo.forEach(function(item) { %>
                <% var output = item.webinfo.pageName %>
               <%= output %>  
             <% }); %>    
           
       
    </body>
</html>