<html>
    <head> 
        <meta charset="utf-8">
        <title>Contact Form Submit</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>
        $(document).ready(function(){
            $("#submitBtn").click(function(){        
                $("#myForm").submit(); // Submit the form
            });
        });
        </script>
       
    </head>

    <% include navbar %>

    <body>
            <form action="/contact" type="text" method="post" id="myForm">
                <label>First Name:</label>
                <input type="text" name="firstname">
                <br/>
                <label>Email:</label>
                <input type="text" name="email">
                <button type="button" id="submitBtn">Submit Form</button>
            </form>
            <textarea rows="4" cols="50" name="comment" form="myform">
                    Enter Comment here....</textarea>
                    
    </body>
</html>

