<html>
    <head>    
        <% include navbar %> 
    </head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#submitBtn").click(function(){        
            $("#myForm").submit(); // Submit the form
        });
    });
    </script>


    

    <body>
            <form class="pure-form pure-form-stacked" action="/family" type="text" method="post" id="myForm">
                <select style="margin: 4%; position: fixed;" name="dropnames">
                        <option value="">-- Select Family--</option>
                        <% for (var i = 0; i < famMems.length; i++) { %>
                           <% var output = famMems[i].Name; %>
                           <option value="<%= output %>"><%= output %></option>
                        <%}%>      
                </select>
                <button style="margin: 4%; position: fixed; top: 17%;"class="pure-button pure-button-primary" type="button" id="submitBtn">Submit Form</button>
            </form>
           
    </body>
</html>