<html>
    <head> 

    <% include navbar %>
    </head>
    <body>
            <table style="margin: 4%; position: fixed;" class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                            <tr>

                                        <td><%= responseName %></td>
                                        <td><%= person2.Age %></td>
                                        <td><%= person2.Location %></td>
         
                            </tr>
                    </tbody>
            </table>
    </body>
</html>