<html>

        <% include header %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#submitBtn").click(function(){        
            $("#myForm").submit(); // Submit the form
        });
    });
    </script>


    

    <body>
            <% info.forEach(function(item) { %>
                <% var output = item.webinfo.family; %>
                <% var showVals =Object.values(output); %> 
                <% var showKeys =Object.keys(output); %>
                    <form class="pure-form pure-form-stacked" action="/family" type="text" method="post" id="myForm">
                        <select style="margin: 4%; position: fixed;" name="dropnames">
                                <option value="">-- Select Family--</option>
                                
                        <% for (var i = 0; i < showKeys.length; i++) { %>
                                   <% var output2 = showKeys[i] %>
                                   <option value="<%= output2%>"><%= output2 %></option>
                        <%}%>      
                        </select>
                        <button style="margin: 4%; position: fixed; top: 17%;"class="pure-button pure-button-primary" type="button" id="submitBtn">Submit Form</button>
                    </form> 
                         
                 
             <% }); %>    
             
           
    </body>


    <% include footer %>
</html>