<html>
        <% include header %>
    <body>


            <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Visited On</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% for (var i=0; i < myresult.length; i++) { %>  
                            <tr>
                                    <td><%= myresult[i].firstname %></td>
                                    <td><%= myresult[i].email %></td>
     

                                    <td><%= myresult[i].comment %></td>
                                    <td><%= myresult[i].submission_date %></td>
        
                            </tr>
                        <% } %>
                    </tbody>
    </body>
     
    
    <% include footer %>
</html>