<html>
        <br/>
        <div>
            <a href="/">Home</a>
            <a href="/aboutme">about me</a>
            <a href="/food">Favorite Food</a>
            <a href="/family">Family</a>
            <a href="/contact">Contact</a>
        </div>
</html>  